<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>{{user.name}}</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <br>
                    A: <p class="list">{{user.nouns}}</p>
                </li>
                <li>
                    Who is: <p class="list">{{user.adjectives}}</p>
                </li>
                <li>
                    And enjoys: <p class="list">{{user.verbs}}</p>
                </li>
            </ul>
            <a href="/profile">(Edit)</a>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <h2>Timeline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div id="demo_1_container"></div>

            <div class="line"></div>

            <h2>Tasks</h2>
            <ul>
                {{#each tasks}}
                {{!-- <li><a href="#">{{task.name}}: </a>{{task.description}}</li> --}}
                <div class="popup" onclick="myFunction()">{{tasks.name}}: <p>{{tasks.description}}</p>
                    <span class="popuptext" id="myPopup">
                        <li>Task Name: {{tasks.name}}</li>
                        <li>Description: {{tasks.description}}</li>
                        <li>Complete By: {{tasks.date}}</li>
                        <li>Checkpoints:
                            {{tasks.checkpoints}}
                        </li>
                        <a href="/long-term/{{tasks.id}}">(Edit)</a>
                    </span>
                </div>
                {{/each}}
            </ul>

            <div class="line"></div>

            <h2>What to watch out for!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="/path/to/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $(function () {
            $.UDNZTimeline({
                "data_url": "/test",
                "container": {
                    "id": "demo_1_container"
                }
            }).Draw(console.log("hit"));
        });

        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</body>

</html>