<head>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="timeline.js"></script>
    <script>
        $(function () {
            $.UDNZTimeline({
                "data_url": "/js/data.json",
                "container": {
                    "id": "demo_3_container"
                },
                "effect": $.DEFINED_EFFECT_TYPE.rotateY | $.DEFINED_EFFECT_TYPE.slide
            }).Draw().ShowNode('node_5', 300);
        });


        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>

</head>

<body>
    <style>
        .__tl_svg .__tl_solid-line,
        .__tl_svg .__tl_dotted-line,
        .__tl_svg .master {
            stroke: #C3C3C3;
            stroke-width: 8
        }

        .__tl_svg .__tl_dotted-line {
            stroke-dasharray: 16, 8
        }

        .__tl_svg .__tl_branch {
            stroke: #DCDCDC;
            fill: #dcdcdc
        }

        .__tl_svg path.__tl_branch {
            stroke-width: 0
        }

        .__tl_master-dot,
        .__tl_branch-dot,
        .__tl_branching-dot {
            position: absolute;
            display: block;
            border-radius: 50%;
            z-index: 10;
            background-color: #FFFFFF;
            left: 100px;
            margin: -12px 0 0 -12px;
            cursor: pointer;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out
        }

        .__tl_master-dot:hover,
        .__tl_dot_current,
        .__tl_branch-dot:hover,
        .__tl_branching-dot:hover {
            border: 5px solid #FF8800;
            width: 30px;
            height: 30px;
            margin: -15px 0 0 -15px
        }

        .__tl_branch-dot {
            border-color: #DCDCDC
        }

        .__tl_branching-dot {
            border: 5px solid #FF8800
        }

        .__tl_info {
            position: absolute;
            top: -1000px;
            left: -1000px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            font-size: .8em;
            cursor: default
        }

        .__tl_info header,
        .__tl_info .__tl_detail {
            font-weight: bolder;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            padding: 0 5px;
            background-color: #FFFFFF
        }

        .__tl_info .__tl_detail {
            font-weight: normal;
            overflow: hidden
        }

        .__tl_show,
        .__tl_showOnRight,
        .__tl_showOnLeft {
            z-index: 999;
            opacity: .9
        }

        .__tl_e_curt .__tl_info {
            display: none
        }

        .__tl_e_curt .__tl_show,
        .__tl_e_curt .__tl_showOnRight,
        .__tl_e_curt .__tl_showOnLeft {
            display: block
        }

        .__tl_e_rotateX .__tl_info {
            -moz-transform: rotateX(90deg);
            -webkit-transform: rotateX(90deg);
            -o-transform: rotateX(90deg);
            -ms-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transition: -webkit-transform .2s ease-in;
            -moz-transition: -moz-transform .2s ease-in;
            -o-transition: -o-transform .2s ease-in;
            transition: transform .2s ease-in
        }

        .__tl_e_rotateX .__tl_show,
        .__tl_e_rotateX .__tl_showOnRight,
        .__tl_e_rotateX .__tl_showOnLeft {
            -moz-transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            -o-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            transform: rotateX(0deg)
        }

        .__tl_e_rotateY .__tl_info {
            -moz-transform: rotateY(90deg);
            -webkit-transform: rotateY(90deg);
            -o-transform: rotateY(90deg);
            -ms-transform: rotateY(90deg);
            transform: rotateY(90deg);
            -webkit-transition: -webkit-transform .2s ease-in;
            -moz-transition: -moz-transform .2s ease-in;
            -o-transition: -o-transform .2s ease-in;
            transition: transform .2s ease-in
        }

        .__tl_e_rotateY .__tl_show,
        .__tl_e_rotateY .__tl_showOnRight,
        .__tl_e_rotateY .__tl_showOnLeft {
            -moz-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg)
        }

        .__tl_e_translate .__tl_info {
            z-index: 999;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-transition: -webkit-transform .2s ease-in;
            -moz-transition: -moz-transform .2s ease-in;
            -o-transition: -o-transform .2s ease-in;
            transition: transform .2s ease-in
        }

        .__tl_e_translate .__tl_translate_show,
        .__tl_e_translate .__tl_showOnRight,
        .__tl_e_translate .__tl_showOnLeft {
            z-index: 999
        }

        .__tl_e_translate .__tl_showOnRight {
            -webkit-transform: translate(-10px, 0);
            -moz-transform: translate(-10px, 0);
            -ms-transform: translate(-10px, 0);
            -o-transform: translate(-10px, 0);
            transform: translate(-10px, 0)
        }

        .__tl_e_translate .__tl_showOnLeft {
            -webkit-transform: translate(10px, 0);
            -moz-transform: translate(10px, 0);
            -ms-transform: translate(10px, 0);
            -o-transform: translate(10px, 0);
            transform: translate(10px, 0)
        }

        .__tl_e_fade .__tl_info {
            opacity: 0;
            z-index: 0;
            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-property: opacity, -webkit-transform;
            -moz-transition-property: opacity, -moz-transform;
            -o-transition-property: opacity, -o-transform;
            transition-property: opacity, transform
        }

        .__tl_e_fade .__tl_show,
        .__tl_e_fade .__tl_showOnRight,
        .__tl_e_fade .__tl_showOnLeft {
            opacity: .9;
            z-index: 999;
            -webkit-transition-property: opacity, -webkit-transform;
            -moz-transition-property: opacity, -moz-transform;
            -o-transition-property: opacity, -o-transform;
            transition-property: opacity, transform
        }

        .__tl_e_slide .__tl_info {
            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all
        }

        .__tl_e_slide .__tl_show,
        .__tl_e_slide .__tl_showOnRight,
        .__tl_e_slide .__tl_showOnLeft {
            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all
        }

        .__tl_err {
            color: white;
            padding: 1em;
            background-color: red
        }

        .__tl_err .__tl_err_msg {
            padding: 0 2em
        }
    </style>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>{{user.name}}</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <br>
                    A: <p class="list">{{user.nouns}}</p>
                </li>
                <li>
                    Who is: <p class="list">{{user.adjectives}}</p>
                </li>
                <li>
                    And enjoys: <p class="list">{{user.verbs}}</p>
                </li>
            </ul>
            <a href="/profile">(Edit)</a>
        </nav>



        <div id="content">
            
            <section class="Timeline">
                <h2>Timeline</h2>

                <div id="demo_3_container"></div>

            </section>


            <div class="line"></div>

            <h2>Tasks</h2>
            <ol>
                {{#each tasks}}
                <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="color: black;background-color: white; border: white;">
                    {{dataValues.title}}
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">{{dataValues.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <u>Description:</u> {{dataValues.description}} <br>
                                <u>Complete By:</u> {{dataValues.completedBy}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary editButton">
                                    <a href="/long-term/{{dataValues.id}}">Edit</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                </li>
                {{/each}}
            </ol>


            <a id="moveme" href="/long-term">(Add A Long-Term Task)</a>
            <br>

            <div class="line"></div>

            <h2>What to watch out for!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

        </div>
    </div>


    {{!--
    <script src="/path/to/jquery.mCustomScrollbar.concat.min.js"></script> --}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });



        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        {
            {
                !--$(function () {
                    $('[data-toggle="popover"]').popover()
                }) --}
        }

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</body>

</html>
